:root {
    --nav-hotspot-size: 50px;
    --nav-icon-font-size: 24px;
    --nav-expanded-width: 300px;
    --nav-transition-duration: 250ms;

    --hotspot-primary-color: white;
    --hotspot-secondary-color: black;
    --hotspot-text-color: whitesmoke;
}

.hotspot {
    background-color: var(--hotspot-primary-color);
    color: var(--hotspot-secondary-color);
}

.hotspot:hover {
    z-index: 1;
}

/* nav */
.nav-hotspot {
    margin-left: calc(var(--nav-hotspot-size) / -2);
    margin-top: calc(var(--nav-hotspot-size) / -2);

    width: var(--nav-hotspot-size);
    border-radius: 50%;
    outline: 3px solid var(--hotspot-secondary-color);
    outline-offset: -6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 0 12px rgba(0, 0, 0, 0.4);

    transition: width var(--nav-transition-duration) ease-in-out,
        outline 250ms var(--nav-transition-duration);
}

.nav-hotspot:hover {
    width: calc(var(--nav-expanded-width) + var(--nav-hotspot-size));
    border-radius: 5px;
    outline: 3px solid transparent;
    transition: width var(--nav-transition-duration) ease-in-out,
        outline 250ms;
}

/* nav icon */
.nav-icon-cont {
    width: var(--nav-hotspot-size);
    height: var(--nav-hotspot-size);
}

.nav-hotspot i {
    font-size: var(--nav-icon-font-size);
    transition: transform var(--nav-transition-duration) ease-in-out;
}

.nav-hotspot:hover i {
    transform: rotate(90deg);
    transition: transform var(--nav-transition-duration) ease-in-out;
}

/* nav targets */
.nav-target-cont {
    width: var(--nav-expanded-width);
}

.nav-target {
    display: flex;
    align-items: center;
    padding: 5px;

    font-size: 22px;
    font-weight: bold;

    outline: 3px solid transparent;
    outline-offset: -3px;

    border-radius: 5px;
}

.nav-target.mono {
    min-height: 100%;
}

.nav-target:hover {
    outline: 3px solid var(--hotspot-secondary-color);
    cursor: pointer;
}