* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -ms-content-zooming: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --titlebar-height: 60px;

    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: #ececec;
    --jres-color: #fffce4;

    --r-entrance-color: #9e9fec;
    --r-important-color: #f14949;
    --r-pres-color: #eac36f;
    --r-expo-color: #c885e6;
    --r-session-color: #7fcde0;
    --r-poster-color: #fec5bd;
    --r-break-color: #6fc350;
    --r-other-color: #bebebe;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

#pano {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* #pano>div:hover {
    cursor: move;
} */

#ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

footer {
    position: absolute;
    z-index: 3;
    bottom: 0;
    height: 32px;
    background-color: var(--jres-color);
    color: var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
}

.inactive:not(.hover) {
    display: none !important;
}

/**
 * Titlebar
 **/

#titlebar {
    /* height: calc(var(--titlebar-height) + 10px); */
    padding-top: 10px;
    background-color: var(--jres-color);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.ttbcontent>.btn {
    padding: 8px;
}

.ttbcontent {
    height: 50px;
}

#titlebar img {
    height: 46px;
}

#titlebar p {
    margin: 0;
}

#ttb-cmenu-nav-button i {
    font-size: 24px;
}

#ttb-cmenu-nav-button #ttb-caret {
    transition: all 250ms;
}

#ttb-cmenu-nav-button.collapsed #ttb-caret {
    transform: rotate(180deg);
}

#ttb-scene-title {
    font-size: large;
    font-weight: bold;
}

/**
 * cmenu
 **/

#cmenu {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#cmenu .btn {
    display: block;
    background-color: var(--primary-color);

    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-radius: 0;

    color: var(--secondary-color);
    margin: 0px;
    transition: all 100ms;
}

#cmenu .btn.hover,
#cmenu .btn:hover {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

#cmenu .btn.active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
}

.cmenu-content-axio-nav-btn.nav-link.active {
    border: 0;
}

#button-all-rooms-dt.btn,
#button-levels-dt.btn {
    font-size: 18px;
    font-weight: bolder;
}


#content-nav-dt {
    border: 1px solid var(--secondary-color);
}

#content-nav-dt .btn {
    border-width: 3px;
}

#content-nav-mb {
    border-bottom: 1px solid var(--secondary-color);
}

/**
 * Scenes
 **/

.scene,
.scene-title {
    display: flex;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-class="col" color);
    color: var(--secondary-color);
    text-decoration: none;

    box-sizing: border-box;
    outline: 2px solid transparent;
    outline-offset: -2px;

    transition: all 100ms;
}

.axio-scenes {
    width: 100%;
}

.scene.hover {
    background-color: var(--primary-color);
    outline: 2px solid var(--secondary-color) !important;
}

.scene.active {
    background-color: var(--secondary-color) !important;
}

.scene.active .scene-label {
    color: var(--primary-color);
    font-weight: bolder;
}

.scene div {
    height: 100%;
}

.scene-id {
    width: 32px;
    text-align: center;
    padding-top: 2px;
    font-size: 22px;
    font-weight: bolder;
}

.scene-label {
    align-content: center;
    padding: 4px 4px 0;
}

.scene-title .scene-label {
    font-weight: bolder;
}

.scene-role {
    background-color: var(--tertiary-color);
    padding-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

/**
 * Axio
 **/

.axio-cont,
.axio-img,
.map-image-div,
.map-image {
    position: relative;
    top: 0px;
    left: 0px;
}

.axio-mask,
#axio-mask-map {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
}

/**
 * Map pointers
 **/

.map-image-div {
    width: fit-content;
}

.map-pointer {
    --offset: 19px;
    position: absolute;
    display: flex;
    z-index: 1;
    width: 38px;
    height: 38px;
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 0 12px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.8) inset;
    border-radius: 50%;

    transition: all 150ms;
}

.map-pointer p {
    margin: auto;
    padding: 0;
    padding-top: 2px;
    font-size: 24px;
    font-weight: bolder;

    transition: all 150ms;
}

.map-pointer:hover {
    cursor: grab;
    z-index: 2;
}

.map-pointer.hover {
    --offset: 24px;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color);
    border-width: 3px;
}

.map-pointer.hover p {
    padding-top: 3px;
    font-size: 30px;
}

.map-pointer.active {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color);
}

/**
 * Media queries
 **/

@media(min-width : 768px) {

    #cmenu {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content-row {
        height: calc(100vh - 111px);
    }

    .content-image.map-image {
        min-height: 660px;
        min-width: 623px;
        height: calc(100vh - 121px);
    }

    .ttbcontent {
        margin-bottom: 10px;
    }

    .content-image.axio-image,
    .content-image.axio-mask,
    #axio-mask-map {
        height: 660px;
    }

    #cmenu-content-axio-nav .btn {
        width: 140px;
        height: 80px;
    }

    #cmenu-content-axio-nav .btn>p {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        position: relative;
        top: 8px;
    }

    #content-all-rooms {
        padding-bottom: 10px;
        height: calc(100vh - 171px);
        min-height: 450px;
    }

    .scene,
    .scene-title {
        min-width: 300px;
    }

}

@media(max-width : 768px) {

    #cmenu {
        overflow: hidden;
    }

    .content-row {
        height: calc(100vh - 187px);
    }

    #cmenu-content-axio-nav .btn {
        width: 140px;
        height: 80px;
    }

    #cmenu-content-axio-nav .btn>p {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        position: relative;
        top: 14px;
        left: -3px;
    }

    #ttb-scene-title {
        width: calc(70vw - 24px);
        min-width: 215px;
    }

    .content-image.axio-image,
    .content-image.axio-mask,
    #axio-mask-map {
        height: 400px;
    }

    .content-image.map-image {
        width: 100%;
    }

    #content-levels,
    #content-all-rooms,
    #content-right>#cr-map {
        padding-bottom: 20px;
        height: calc(100vh - 187px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    #cr-map {
        margin-bottom: 50px;
    }

    #content-all-rooms .scene,
    #content-all-rooms .scene-title {
        width: calc(100vw - 64px);
    }

    #content-right .scene {
        outline: 2px solid white;
        background-color: rgb(225, 225, 225);
        padding-right: 4px;
        width: fit-content;
    }
}